        .vscode/
        build/release/CMSIS/efm32zg/system_efm32zg.d
        build/release/STK3200_config.o
        build/release/config_dw1000.o
        build/release/config_efm32zg222f32.o
        build/release/config_example.o
        build/release/config_spidriver.o
        build/release/config_venus638.o
        build/release/dw1000_adaptor.o
        build/release/dw1000_buildMAC.o
        build/release/dw1000_commRxTx.o
        build/release/dw1000_decodeMAC.o
        build/release/dw1000_nodeMgmt.o
        build/release/dw1000_tofCalcs.o
        build/release/dw1000_types.o
        build/release/efm32zg222f32_adaptor.o
        build/release/efm32zg_cmu_HAL.o
        build/release/efm32zg_gpio_HAL.o
        build/release/efm32zg_gpio_IO_HAL.o
        build/release/efm32zg_interrupts_HAL.o
        build/release/efm32zg_timer_HAL.o
        build/release/efm32zg_types_HAL.o
        build/release/efm32zg_usart_HAL.o
        build/release/efm32zg_usart_IO_HAL.o
        build/release/main.o
        build/release/mpi_cmu.o
        build/release/mpi_ext_dev.o
        build/release/mpi_gpio.o
        build/release/mpi_timer.o
        build/release/mpi_usart.o
        build/release/spidriver/config_dw1000.o
        build/release/spidriver/config_spidriver.o
        build/release/spidriver/dw1000_adaptor.o
        build/release/spidriver/dw1000_buildMAC.o
        build/release/spidriver/dw1000_commRxTx.o
        build/release/spidriver/dw1000_decodeMAC.o
        build/release/spidriver/dw1000_nodeMgmt.o
        build/release/spidriver/dw1000_tofCalcs.o
        build/release/spidriver/dw1000_types.o
        build/release/spidriver/main.o
        build/release/spidriver/mpi_cmu.o
        build/release/spidriver/mpi_ext_dev.o
        build/release/spidriver/mpi_gpio.o
        build/release/spidriver/mpi_timer.o
        build/release/spidriver/mpi_usart.o
        build/release/spidriver/spidriver_adaptor.o
        build/release/spidriver/theseus-spidriver.bin
        build/release/spidriver/venus638.o
        build/release/spidriver_adaptor.o
        build/release/startup_efm32zg.o
        build/release/system_efm32zg.o
        build/release/theseus.axf
        build/release/theseus.bin
        build/release/theseus.hex
        build/release/venus638.o
        build/release/venus638_adaptor.o
        toolchains/
        tools/PulseView/theseus-spidriver(4.3.20)
        tools/openocd/theseus-spidriver
        tools/openocd/theseus-spidriver(2.3.20)
